<section class="hero is-warning">
    <div class="hero-body">
        <p class="p-title">
            "Hello there User"
        </p>
    </div>
</section>


<div class="card">
    <div class="card-content">
        <div class="media">
            <div class="media-left">

                <figure class="image is-128x128">
                    <img class="is-rounded" src="/images/joysit.jpg">
                </figure>

            </div>
            <div class="media-content">
                <p class="title is-4">Pet Name</p>
                
                <p class="subtitle is-4">Behavior Name</p>
                <div class="content">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam ipsum, maxime commodi quo debitis vero recusandae excepturi natus suscipit. Rerum sint consectetur provident dolore perferendis consequuntur reprehenderit impedit sequi omnis?
                    <br>
                </div>
                
            </div>
        </div>

    </div>
</div>

